.jumbotron {
	text-align: center;
	color: #ffffff;
	background-color: #000000;
}

#ce {
	width: 99%;
	border-bottom-style: solid;
	border-color: #a9a9a9;
	border-collapse: separate;
	border-spacing: 20px;
<<<<<<< HEAD
	width: 100%;
=======
	margin: 5px;
}

th {
	height:50px;
>>>>>>> 9479eed38b4ac130f7d4b4cd9d6b55d39436f2e5
}

#sp {
	border-radius: 8px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding:5px 10px;
	margin:0;
	color: #ffffff;
	background-color: #000080;
}

#search {
	border-radius: 10px;
	padding:0;
	border-style: solid;
	border-width: 1px;
	border-color: #000080;
}

.container {
	padding:0;
	width: 80%$;
	margin-top: 15px;
	margin-bottom: 15px;
}

#ta {
	border-radius: 8px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding:5px 10px;
	margin:0;
	color: #ffffff;
	background-color: #000080;
}

#topArticles {
	border-radius: 10px;
	padding:0;
	border-style: solid;
	border-width: 1px;
	border-color: #000080;
}